@import "mixin.scss";

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Microsoft YaHei', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover, &:focus {
    text-decoration: none;
    color: inherit;
  }
}

//Nav
.myNav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: transparent;
  z-index: 100;
  transition: 0.1s linear;
  padding: 0 16px;
  color: $primary-text-d;
}

.nav-bgColor {
  background: linear-gradient(to left, #f857a6 , #ff5858);
  @include card-dp4;
}

//Banner
.myBanner {
  @include card-dp3;
  @include flex;
  position: relative;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0 / cover fixed;

  &:after {
    @include beforeAfter;
    z-index: -1;
    background: linear-gradient(to right, rgba(250, 108, 159, 0.1) 0%, rgba(255, 225, 64, 0.1) 80%, rgba(255, 225, 64, 0.1) 100%);
  }
}

.banner-container {
  @include card-dp2;
  @include flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  overflow: hidden;
  border-radius: 2px;
  perspective: 1000px;

  &:before {
    @include beforeAfter(-50px);
    z-index: -1;
    background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0 / cover fixed;
    filter: blur(5px);
  }
  &:after{
    @include beforeAfter;
    background: linear-gradient(to right, rgba(250, 108, 159, 0.5) 0%, rgba(255, 225, 64, 0.5) 80%, rgba(255, 225, 64, 0.5) 100%);
    z-index: -1;
  }

  .banner-img {
    //border: 6px solid white;
    width: 200px;
    height: 200px;
    //padding: 10px;
    border-radius: 50%;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline-offset: 10px;
  }
}

.banner-title {
  font-family: 'Source Code Pro', monospace;
  margin: 50px 0;
  text-align: left;
  width: 10ch; /* 文本的宽度 */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-right: 2px solid;
  color: rgba(255, 255, 255, 0.9);
  font-size: 50px;
  animation: coding 4s steps(10),
  flash 1s steps(1) infinite,
  stopFlash 0.1s 4s steps(1) forwards,
  fontFlash 0.5s 4s forwards,
  fontChange 0.1s 5s forwards,
  rubberBand 1s 5s forwards,
  rotate 0.1s 6.5s forwards;

  &:before,&:after{
    position: absolute;
    top: 30px;
    width: 30px;
    height: 4px;
    content: '';
    background: rgba(255, 255, 255, 0.9);
  }
  &:before{
    left: 0;
    margin-left: -50px;
  }
  &:after{
    right: 0;
    margin-right: -50px;
  }

}

.banner-desc{
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

@media (max-width: 425px) {
  .banner-container {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
  }
  .banner-title {
    font-size: 40px;
  }
}

@keyframes coding {
  from {
    width: 0
  }
}

@keyframes flash {
  50% {
    border-color: transparent;
  }
}

@keyframes stopFlash {
  to {
    border-color: transparent;
  }
}

@keyframes fontFlash {
  from, 50%, to {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes fontChange {
  to {
    font-family: 'Kaushan Script', cursive;
    width: auto;
    overflow: visible;
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(-5deg);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

//Title
.myTitle {
  padding: 50px;
  text-align: center;
  //background: url("http://i1.piimg.com/567571/ebef5cd03ab0d7fc.png") fixed;
  background: linear-gradient(to left, #606c88 , #3f4c6b);
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

//CardBox
.CardBox {
  position: relative;
  padding: 150px 75px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);

}

.card {
  display: block;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2px;
  @include card-dp1;
  @include card-hover;
  @include shadowTransition;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  h1 {
    margin: 24px 16px 16px;
    font-size: 20px;
    line-height: 1;
    color: $secondary-text-l;
  }
  p {
    margin: 16px;
    font-size: 14px;
    color: $hint-text-l;
  }
}

//Photos
.Photos{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23), 0 -10px 20px rgba(0, 0, 0, 0.19), 0 -6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}
.photo-item {
  height: 300px;
  position: relative;
  text-align: center;

  .photo-mask {
    padding-top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 105, 180, 0.53);
    transition: 0.2s;
    overflow: hidden;
    opacity: 0;
  }

  h1, p {
    opacity: 0;
    transform: scale(2);
    transition: 0.2s;
  }

  &:hover {

    .photo-mask {
      opacity: 1;
    }

    h1, p {
      transform: scale(1);
      opacity: 1;
    }
  }
}

//Contact
.myContact {
  height: 300px;
  background: linear-gradient(to right, #52A0FD 0%, #00e2fa 80%, #00e2fa 100%);
}

//SvgBox
.mySvgBox {
  height: 600px;
  background: linear-gradient(to right, #44ea76 0%, #39fad7 80%, #39fad7 100%);
  position: relative;
  overflow: hidden;
  perspective: 2000px;
  @include card-dp2;
  & > div {
    position: absolute;
  }

  .svg1 {
    left: 0;
    bottom: 0;
  }
  .svg2 {
    right: 0;
    top: 90px;
  }
  .svg3 {
    right: 150px;
    top: 60px;
  }
  .svg4 {
    left: 0;
    top: 100px;
  }
  .svg5 {
    right: 0;
    bottom: 50px;
  }
  .svg6 {
    left: 50px;
    top: 270px;
  }

}

//Load
.myLoad {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fa6c9f 0%, #ffe140 80%, #ffe140 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px;
}

.load-box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: square-spin 3s cubic-bezier(.09, .57, .49, .9) infinite;
}

@keyframes square-spin {
  25% {
    transform: rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  75% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

//github-corner
.github-corner {
  display: block;
  position: absolute;
  color: white;
  fill: $primary-color;
  top: 0;
  right: 0;
  &:hover, &:focus {
    color: white;
    fill: $primary-color;
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0deg);
  }
  20%, 60% {
    transform: rotate(-25deg);
  }
  40%, 80% {
    transform: rotate(10deg);
  }
}