@charset "UTF-8";
/*全局主题色*/
/*主色*/
/*light theme*/
/*Dark theme*/
/*浅色背景下（白色）*/
/*暗色背景下（黑色）*/
/*用于分割线*/
/*mixin*/
/*卡片阴影 dp纵向深度*/
html {
  font-size: 16px; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Microsoft YaHei', sans-serif; }

.myNav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: transparent;
  z-index: 100;
  transition: 0.1s linear;
  padding: 0 16px;
  color: #ffffff; }

.nav-bgColor {
  background-color: #9c27b0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.myBanner {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0/cover fixed; }
  .myBanner:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(156, 39, 176, 0.4); }

.banner-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  overflow: hidden;
  border-radius: 2px;
  perspective: 1000px; }
  .banner-container:before {
    position: absolute;
    content: '';
    top: -50px;
    bottom: -50px;
    left: -50px;
    right: -50px;
    z-index: -1;
    background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0/cover fixed;
    filter: blur(5px); }
  .banner-container .banner-img {
    border: 6px solid white;
    width: 12rem;
    height: 12rem;
    padding: 10px;
    border-radius: 50%; }
  .banner-container img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline-offset: 10px; }

.banner-title {
  font-family: 'Source Code Pro', monospace;
  margin: 50px 0;
  text-align: left;
  width: 10ch;
  /* 文本的宽度 */
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  border-right: 2px solid;
  color: white;
  font-size: 80px;
  animation: coding 4s steps(10), flash 1s steps(1) infinite, stopFlash 0.1s 4s steps(1) forwards, fontFlash 0.5s 4s forwards, fontChange 0.1s 5s forwards, rubberBand 1s 5s forwards, rotate 0.1s 6.5s forwards; }

@media (max-width: 425px) {
  .banner-container {
    width: calc(100% - 50px);
    height: calc(100% - 50px); }
  .banner-title {
    font-size: 40px; } }

@keyframes coding {
  from {
    width: 0; } }

@keyframes flash {
  50% {
    border-color: transparent; } }

@keyframes stopFlash {
  to {
    border-color: transparent; } }

@keyframes fontFlash {
  from, 50%, to {
    opacity: 0; }
  25%, 75% {
    opacity: 1; } }

@keyframes fontChange {
  to {
    font-family: 'Kaushan Script', cursive;
    width: auto;
    overflow: visible;
    opacity: 1; } }

@keyframes rotate {
  to {
    transform: rotate(-5deg); } }

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }

.myTitle {
  padding: 50px;
  text-align: center;
  background: url("http://i1.piimg.com/567571/ebef5cd03ab0d7fc.png") fixed; }

.card {
  display: block;
  position: relative;
  height: 300px;
  background-color: aqua;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    z-index: 1; }

.photo-item {
  height: 300px;
  position: relative;
  text-align: center; }
  .photo-item .photo-mask {
    padding-top: 100px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 105, 180, 0.53);
    transition: 0.2s;
    overflow: hidden;
    opacity: 0; }
  .photo-item h1, .photo-item p {
    opacity: 0;
    transform: scale(2);
    transition: 0.2s; }
  .photo-item:hover .photo-mask {
    opacity: 1; }
  .photo-item:hover h1, .photo-item:hover p {
    transform: scale(1);
    opacity: 1; }

.myContact {
  height: 300px;
  background-color: #1a9aca; }

.mySvgBox {
  height: 600px;
  background-color: #61ff8c;
  position: relative;
  overflow: hidden;
  perspective: 2000px; }
  .mySvgBox > div {
    position: absolute; }
  .mySvgBox .svg1 {
    left: 0;
    bottom: 0; }
  .mySvgBox .svg2 {
    right: 0;
    top: 90px; }
  .mySvgBox .svg3 {
    right: 150px;
    top: 60px; }
  .mySvgBox .svg4 {
    left: 0;
    top: 100px; }
  .mySvgBox .svg5 {
    right: 0;
    bottom: 50px; }
  .mySvgBox .svg6 {
    left: 50px;
    top: 270px; }

.myLoad {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d1b343;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100px; }

.load-box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: square-spin 3s cubic-bezier(0.09, 0.57, 0.49, 0.9) infinite; }

@keyframes square-spin {
  25% {
    transform: rotateX(180deg) rotateY(0deg); }
  50% {
    transform: rotateX(180deg) rotateY(180deg); }
  75% {
    transform: rotateX(0deg) rotateY(180deg); }
  100% {
    transform: rotateX(0deg) rotateY(0deg); } }

.example-enter {
  opacity: 0.01; }

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.example-leave {
  opacity: 1; }

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.example-appear {
  opacity: 0.01; }

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.github-corner {
  display: block;
  position: absolute;
  color: white;
  fill: #9c27b0;
  top: 0;
  right: 0; }
  .github-corner:hover, .github-corner:focus {
    color: white;
    fill: #9c27b0; }
    .github-corner:hover .octo-arm, .github-corner:focus .octo-arm {
      animation: octocat-wave 560ms ease-in-out; }

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0deg); }
  20%, 60% {
    transform: rotate(-25deg); }
  40%, 80% {
    transform: rotate(10deg); } }
