@charset "UTF-8";
/*全局主题色*/
/*主色*/
/*light theme*/
/*Dark theme*/
/*浅色背景下（白色）*/
/*暗色背景下（黑色）*/
/*用于分割线*/
/*mixin*/
/*卡片阴影 dp纵向深度*/
html {
  font-size: 16px; }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Microsoft YaHei', sans-serif; }

.myNav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: transparent;
  z-index: 100;
  transition: 0.1s linear;
  padding: 0 16px;
  color: #ffffff; }

.nav-bgColor {
  background-color: #9c27b0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.myBanner {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
  background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0/cover fixed; }

.myBanner:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(156, 39, 176, 0.3); }

.myBanner .banner-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  width: calc(100% - 150px);
  height: calc(100% - 150px);
  overflow: hidden;
  border-radius: 2px; }

.myBanner .banner-container:before {
  position: absolute;
  content: '';
  top: -50px;
  bottom: -50px;
  left: -50px;
  right: -50px;
  z-index: -1;
  background: url("http://p1.bqimg.com/567571/db48a6c4ee347b14.jpg") 0/cover fixed;
  filter: blur(5px); }

.myBanner .banner-container img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.banner-title {
  font-family: 'Source Code Pro', monospace;
  margin: 50px 0;
  text-align: left;
  width: 10ch;
  /* 文本的宽度 */
  overflow: hidden;
  white-space: nowrap;
  animation: coding 3s steps(10), flash 1s steps(1) infinite, stopFlash 0.1s 3s steps(1) forwards, fontChange 0.1s 4s forwards;
  position: relative;
  border-right: 2px solid;
  color: white;
  font-size: 50px; }

@keyframes coding {
  from {
    width: 0; } }

@keyframes flash {
  50% {
    border-color: transparent; } }

@keyframes stopFlash {
  to {
    border-color: transparent; } }

@keyframes fontChange {
  to {
    font-family: 'Kaushan Script', cursive;
    transform: rotate(-5deg);
    width: auto;
    overflow: visible; } }

.myTitle {
  padding: 50px;
  text-align: center;
  background: url("http://i1.piimg.com/567571/ebef5cd03ab0d7fc.png") fixed; }

.card {
  display: block;
  position: relative;
  height: 300px;
  background-color: aqua;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 1; }

.photo-item {
  height: 300px;
  position: relative;
  text-align: center; }

.photo-item .photo-mask {
  padding-top: 100px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 105, 180, 0.53);
  transition: 0.2s;
  overflow: hidden;
  opacity: 0; }

.photo-item h1, .photo-item p {
  opacity: 0;
  transform: scale(2);
  transition: 0.2s; }

.photo-item:hover .photo-mask {
  opacity: 1; }

.photo-item:hover h1, .photo-item:hover p {
  transform: scale(1);
  opacity: 1; }

.myContact {
  height: 300px;
  background-color: #1a9aca; }

.mySvgBox {
  height: 600px;
  background-color: #61ff8c;
  position: relative;
  overflow: hidden;
  perspective: 2000px; }

.mySvgBox > div {
  position: absolute; }

.mySvgBox .svg1 {
  left: 0;
  bottom: 0; }

.mySvgBox .svg2 {
  right: 0;
  top: 90px; }

.mySvgBox .svg3 {
  right: 150px;
  top: 60px; }

.mySvgBox .svg4 {
  left: 0;
  top: 100px; }

.mySvgBox .svg5 {
  right: 0;
  bottom: 50px; }

.mySvgBox .svg6 {
  left: 50px;
  top: 270px; }
